.geser{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: uppercase;
    align-items: center;
}

._52jv {
    text-align: center;
}

._6luv {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 100px auto;
    padding: 40px;
    width: 396px;
}

.textlogin{
    font-size: 50px; 
    text-align:center; 
    margin-top: 200px; 
    padding-left: 50px; 
    font-family: roboto;
}